<% layout('/layouts/boilerplate') %>

<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-1" role="alert">
        <h4 class="alert-heading">Error occured with code <%= statusCode %> and <%=message %></h4>
      </div>
</div>