body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: whitesmoke;
}
.fa-compass{
    font-size: 2rem;
    color: #fe424d;
}
.nav-link{
    color: #222222 !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-link:hover{
    color: green !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    color: #222222;
}
.f-info-links,
.f-info-socials{
    width: 100%;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.5rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    display: flex !important;
    flex-wrap: nowrap !important;
    align-content: center !important;
    justify-content: space-around !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 2px !important;
}
.card-text p{
    font-weight: 400 !important;
}
.row{
    display: flex !important;
    justify-content: space-around !important;
}

.listing-link{
    text-decoration: none;
}
.card-img-overlay,
.text{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: grey;
}
.text:hover{
    opacity: 1 !important;
    color: orange;
    font-size: large;
}
.show-img{
    height: 50vh;
}
.btns{
    display: flex;
}
.review-box{
    border:2px solid black;
    width: 40%;
    text-align: center;
}

/* MAP */
#map { 
    height: 400px;
    width: 100%;
}

#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
}

.filter:hover{
    opacity:1;
    cursor: pointer;
}

.filter p{
    font-size: 0.9rem;
}

.tax-info{
    display: none;
}

.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}